<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans" rel="stylesheet">
<style>
* {
    font-family: 'IBM Plex Sans', sans-serif;
}
body {
    font-size: 12px;
}
</style>
<center>
    <span class="page"></span> of <span class="topage"></span>
</center>

<script>
    var vars={};
    var x=document.location.search.substring(1).split('&');
    for(var i in x) {var z=x[i].split('=',2);vars[z[0]] = unescape(z[1]);}
    var x=['frompage','topage','page','webpage','section','subsection','subsubsection'];
    for(var i in x) {
        var y = document.getElementsByClassName(x[i]);
        for(var j=0; j<y.length; ++j) y[j].textContent = vars[x[i]];
    }
</script>